/*Layout: In the desktop view (992px and above), each of the 3 sections should take up equal amount of space on the screen. 
As you make the browser window wider or narrower, each section should become wider or narrower. 
(Hint: use percentages to define width and use the 'float' property. See Lecture 24).

Layout: In the tablet view (between 768px and 991px, inclusively), 
the first 2 sections should be in the first row and be of equal size. 
The 3rd section should be in the second row and take up the entire row by itself.

Layout: In the mobile view (equal to or less than 767px), each section should take up the entire row. 

*/
*{
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: auto;
}
div{  
  padding: 10px;
}
div#row{
    border: none;
    width: 100%;
}
h1{
  text-align: center;
  font-style: italic;
  font-weight: normal;
}
p{
    margin: 35px;;
    padding: 10px;
    border: 10px;

    
}
.heading-box{
    background-color: white;
    height:50px;
    width: 50px;
    border: 1px solid #512A5B;
    padding: 1px;
    text-align: center;
    margin: 0px;
    position: absolute;
    top: 0;
    right: 0px;
}
body{
    background-color: burlywood;
    margin: 0px;
    padding: 0px;
    
}

.box1,.box2,.box3{
  position: relative;
  margin: auto;
  border: 2px solid brown;
  position: relative;
}

.box1{
  background-color: #8edb13c9;  
}
.box2{
  background-color: coral;  
}

.box3{
  background-color: crimson;
}
        /* ********Large Devices ****** */
@media (min-width: 992px) {
    .col-dv-4 {
      float: left;
      width : 33.33%;
      
    }
    
  }
  
               /* ********Medium Devices ****** */
  @media screen and (min-width: 768px) and (max-width: 991.9px) {
    .col-tb-1, .col-tb-2, .col-tb-3, .col-tb-4, .col-tb-5, .col-tb-6, .col-tb-7, .col-tb-8, .col-tb-9, .col-tb-10, .col-tb-11, .col-tb-12 {
      float: left;
      
    
    }
    
    .col-tb-6 {
      width: 50%;
    }
    
    .col-tb-12 {
      width: 100%;
    }
  }
  
/* ********Small  Devices ****** */
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
    width: 100%;
    
  }
}